//
// HTML <q> element
//
// The HTML <q> element (inline quotationinline quotation) indicates that the 
// enclosed text is a short inline quotation.
// Most modern browsers implement this by surrounding the text in quotation marks.
// This element is intended for short quotations that don't require paragraph breaks; for long quotations use the <blockquote> element.
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/q
//
// 1. remove quotation marks
//
// Most browsers will display the <q> element with the following default values
//
// Enable default false
//
// Created on : 22.01.2019, 11:37:55
// Author     : nik

@if $enable-html-elements-q {
    q {
        display: inline;
        //@include set-box-sizing-border-box; // 1
    }

    q:before {
        content: open-quote;
    }

    q:after {
        content: close-quote;
    }
}