//
// Config font-faces
//
// Set the variables for the used fonts

//
// Enable or disable font-faces
//

// audiowide-regular - latin
$enable-font-audiowide-v6-latin: true;

// open-sans-v15-latin_cyrillic normal 300 (light)
$enable-fonts-open-sans-v15-latin_cyrillic-normal-light: true;

// open-sans-v15-latin_cyrillic italic 300 (light)
$enable-fonts-open-sans-v15-latin_cyrillic-italic-light: true;

// open-sans-v15-latin_cyrillic normal 400 (normal)
$enable-fonts-open-sans-v15-latin_cyrillic-normal-normal: true;

// open-sans-v15-latin_cyrillic italic 400 (normal)
$enable-fonts-open-sans-v15-latin_cyrillic-italic-normal: true;

// open-sans-v15-latin_cyrillic normal 600 (semi-bold)
$enable-fonts-open-sans-v15-latin_cyrillic-normal-semi-bold: false;

// open-sans-v15-latin_cyrillic italic 600 (semi-bold)
$enable-fonts-open-sans-v15-latin_cyrillic-italic-semi-bold: false;

// open-sans-v15-latin_cyrillic normal 700 (bold)
$enable-fonts-open-sans-v15-latin_cyrillic-normal-bold: false;

// open-sans-v15-latin_cyrillic italic 700 (bold)
$enable-fonts-open-sans-v15-latin_cyrillic-italic-bold: false;

// open-sans-v15-latin_cyrillic normal 800 (extra-bold)
$enable-fonts-open-sans-v15-latin_cyrillic-normal-extra-bold: false;

// open-sans-v15-latin_cyrillic italic 800 (extra-bold)
$enable-fonts-open-sans-v15-latin_cyrillic-italic-extra-bold: false;
