//
// HTML element section
//
// The <section> element represents a section of a document, typically with a
// title or heading.
// https://www.w3.org/TR/2012/WD-html-markup-20121025/section.html#section
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/section
// 
// 1. Eric Meyer’s “Reset CSS” 2.0
// 2. Render these used elements consistently in IE.
// 3. Change from `box-sizing: content-box` so that `width` is not affected
//
// Enable default false
//
// Created on : 12.01.2019, 09:44:22
// Author     : nik

@if $enable-html-elements-section {
/*
The <section> html element
*/
    section{
        display: block; // 2
        margin: 0; // 1
        border: 0; // 1
        @include set-box-sizing-border-box; // 3
        padding: $small-distance $small-distance $very-small-distance $small-distance; // by Nik
        vertical-align: baseline; // 1
    }
}